body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    text-align: center;
    margin: 20px auto;
    background: url("/img/background.jpg");
    background-size: 1400px 750px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #0077b6;
    margin-bottom: 0px;
}
label{
    display: block;    
}
input{
    display: block;
    background-color: transparent;
    padding: 0.5rem 1rem;
    border: 2px solid #0077b6;
    border-radius: 0.5rem;
    margin: 20px 600px;
    color: #0077b6;
}
.show-btn{
    background-color: transparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px solid #0077b6;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: #0077b6;
    font-weight: bold;
}
input:focus{
    outline: none;
    border: 2px dashed #0077b6;
    cursor: pointer;
}
.show-btn:hover{
    background-color: #0077b6;
    color: white;
    font-weight: bold;
}
.output{
    padding: 1rem 1rem;
    font-weight: bold;
}
input:hover{
    cursor: pointer;
}
.footer{
    padding: 1rem 1rem;
    color: #0077b6;
    text-align: center;
    margin: 319px 20px;
    margin-bottom: 0px;
}
.footer .link{
    color: #0077b6;
    margin: 5px 5px;
    border: 1.5px solid #0077b6;
    border-radius: 10rem;
    padding: 0.5rem 0.5rem;
}
.footer ul{
    padding-inline-start: 0px;
}
.footer-insider{
    font-weight: bold;
    font-size: 19px;
    padding-bottom: 1rem;
    margin: 0px 0px;
    margin-left: 10px;
}
.footer .link:hover{
    background-color: #0077b6;
    color: white;
}